{% extends 'base.html' %}

{% block title %}FlaskTest-UserInfo{% endblock %}

{% block page_content %}
    <div>
        {% if user.favicon %}
            <img src="{{ user.favicon }}">
        {% endif %}
        <h1>{{ user.username }}</h1>
        <a href="{{ url_for('main.edit_userinfo', username=user.username) }}">编辑个人资料</a>
    </div>

    <div>
        {% if user.realname or user.location %}
            <p>{% if user.username %}{{ user.realname }}{% endif %}{% if user.location %}来自{{ user.location }}{% endif %}</p>
        {% endif %}
        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}
    </div>
{% endblock %}